#__docusaurus {
  .main-wrapper {
    /* max-width: 102rem; */
    padding-top: 64px;
    width: 100%;
    .theme-doc-breadcrumbs {
      display: none;
    }
    .container {
      max-width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      @media screen and (min-width: 997px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        div[class*='docItemCol_'] {
          max-width: 100% !important;
        }
      }
      @media screen and (min-width: 1280px) {
        div[class*='docItemCol_'] {
          max-width: 75% !important;
        }
      }
      @media screen and (min-width: 1536px) {
        div[class*='docItemCol_'] {
          max-width: calc(100% - 320px) !important;
        }
      }

      @media screen and (min-width: 997px) {
        div[class*='docItemContainer_'] {
          display: flex;
          flex-direction: column;
          min-height: calc(100vh - 112px);
          padding: 1.5rem 0 1.5rem 1.5rem;
        }
      }

      @media screen and (min-width: 1536px) {
        div[class*='docItemContainer_'] {
          margin-left: auto;
          margin-right: auto;
          max-width: 960px;
        }
      }

      @media screen and (min-width: 997px) {
        .col.col--3 {
          display: none;
        }
      }

      @media screen and (min-width: 1280px) {
        .col.col--3 {
          display: block;
        }
      }
      @media screen and (min-width: 1536px) {
        .col.col--3 {
          position: fixed;
          right: 0;
          width: 20rem;
        }
      }
    }
  }
}

html {
  body {
    .medium-zoom-overlay,
    .medium-zoom-image--opened {
      z-index: 999;
    }
  }
}

.plugin-pages #__docusaurus .navbar__inner {
  @apply container mx-auto !px-0;
}
