#__docusaurus {
  overflow: hidden;
  nav.navbar {
    @apply bg-white/[0.7] backdrop-blur-lg z-[9999] border-b border-border;
    box-shadow: 0px 1px 0 var(--border-color);
    &.navbar--fixed-top {
      position: fixed;
      width: 100%;
    }
  }
  .navbar-sidebar__item {
    padding: 1rem;
    .header-github-link::before {
      display: flex;
      content: 'View on Github';
      color: var(--ifm-color-gray-600);
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      display: inline-block;
    }
  }
  li .menu__link {
    color: var(--ifm-color-gray-600);
    padding: 0.5rem 0;
    font-size: 14px;
    font-weight: normal;
  }
  .navbar {
    .navbar__inner {
      /* max-width: 100rem; */
      margin: 0 auto;
      justify-content: start;
      .navbar__items {
        .navbar__toggle {
          margin-right: 1rem;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        .navbar__brand {
          margin-top: -2px;
          line-height: 20px;
          .navbar__logo {
            height: 24px;
          }
          b {
            transform: translateY(6px);
          }
        }
        .navbar__link {
          font-size: 15px;
          font-weight: 400;
          line-height: 1.4rem;
          color: var(--ifm-color-gray-600);
          &.navbar__link--active {
            color: var(--ifm-color-gray-900);
            font-weight: 500 !important;
          }
        }
        .navbar__toggle {
          > svg {
            width: 24px;
            height: 24px;
          }
        }
        .navbar-text-button {
          font-size: 14px;
          font-weight: 500;
          color: var(--ifm-toc-link-color);
          display: inline-block;
          padding: 0;
          &:hover {
            color: var(--ifm-menu-color);
            text-decoration: none;
          }
        }
        .navbar-solid-button {
          font-size: 14px;
          line-height: 1;
          font-weight: 500;
          color: var(--ifm-navbar-contact-color);
          background-color: var(--ifm-navbar-contact-background-color);
          padding: 9px 16px;
          border-radius: 50px;
          display: inline-block;
          &:hover {
            text-decoration: none;
            background-color: var(--ifm-navbar-contact-background-hover-color);
          }
        }
      }
      .navbar__items--right {
        gap: 0rem;
        .navbar__search {
          display: none;
          margin-left: 0;
          @media screen and (min-width: 768px) {
            display: block;
            width: 13rem;
          }
          .navbar__search-input {
            --ifm-navbar-search-input-background-color: var(--gray-50);
            @apply ring-[1.5px] ring-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-900 md:w-full rounded-full;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-search-icon lucide-search'%3E%3Cpath d='m21 21-4.34-4.34'/%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3C/svg%3E");
            background-position: 12px;
            background-size: 16px;
            background-repeat: no-repeat;
            @apply !text-gray-900;
            &:placeholder {
              @apply !text-gray-500;
            }
          }
          kbd {
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: var(--ifm-toc-link-color);
            font-size: 12px;
            font-family: Outfit, system-ui, sans-serif;
            text-transform: capitalize;
            font-weight: 600;
            padding: 0;
            &:last-child {
              padding-right: 0.5rem;
            }
          }

          /* dropdown style */
          span[class*='dropdownMenu'] {
            border: 1px solid #70747325;
            background: var(--ifm-navbar-background-color);
            box-shadow: none;
            padding-right: 0 !important;
            span[class*='suggestions'] {
              div[class*='suggestion'] {
                height: auto;
                box-shadow: none;
                padding: 0.5rem 1rem;
                color: var(--ifm-menu-color) !important;
                position: relative;
                margin-bottom: 9px;
                border-radius: 6px;
                &:not(:last-child) {
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 1px;
                    background-color: var(--ifm-menu-color-background-hover);
                  }
                }
                mark {
                  color: var(--ifm-menu-color) !important;
                  text-decoration: none !important;
                }
                span[class*='hitPath'] {
                  color: var(--ifm-sidebar-icon-color) !important;
                  mark,
                  > span,
                  > div {
                    color: var(--ifm-sidebar-icon-color) !important;
                  }
                }
              }
              div[class*='cursor'] {
                background-color: var(--ifm-menu-color-background-hover);
                mark,
                > span,
                > div {
                  color: var(--ifm-menu-color);
                  mark {
                    text-decoration: none;
                  }
                }
                span[class*='hitPath'] {
                  color: var(--ifm-sidebar-icon-color) !important;
                  mark,
                  > span,
                  > div {
                    color: var(--ifm-sidebar-icon-color) !important;
                  }
                }
              }
              span[class*='hitIcon'] {
                display: none;
              }
              span[class*='hitAction'] {
                display: none;
              }
              span[class*='hitTree'] {
                display: none;
              }
            }
            div[class*='hitFooter'] {
              background-color: var(--ifm-menu-color-background-hover);
              border-radius: 8px;
              color: var(--ifm-menu-color);
              a {
                display: block;
                padding: 0.5rem 1rem;
                color: var(--ifm-menu-color);
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .navbar__link {
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          /* color: #ffffff; */
          /* background-color: var(--ifm-menu-color-active); */
          display: inline-block;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
        button.clean-btn {
          color: var(--ifm-toc-link-color);
          &:hover {
            color: var(--ifm-menu-color);
          }
          &.toggleButton_hAVh:hover {
            background-color: transparent;
          }
        }
        .header-github-link::before {
          width: 24px;
          height: 24px;
          display: flex;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='w-5 h-5'%3E%3Cpath d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'%3E%3C/path%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 19px;
          content: '';
        }
        .header-github-link {
          margin-left: 0.75rem;
          order: 3;
        }
        div[class*='colorModeToggle_'] {
          order: 2;
          margin-left: 1rem;
        }
        div[class*='colorModeToggle_'] button:hover {
          background-color: transparent;
        }
        svg[class*='iconExternalLink_'] {
          @apply hidden;
        }
      }
    }
    .navbar-sidebar__backdrop {
      background-color: #0009;
      backdrop-filter: blur(12px);
      width: 100vw;
      height: 100vh;
    }
    .navbar-sidebar {
      height: 100vh;
      .navbar-sidebar__brand {
        border-bottom: 1px solid var(--ifm-global-border-color);
        .navbar__brand {
          margin-right: 0;
          .navbar__logo {
            height: 24px;
            margin-right: 0;
          }
          b {
            transform: translateY(4px);
          }
        }
        > div {
          margin-right: 0.5rem !important;
          margin-left: auto;
        }
      }
      .navbar-sidebar__close {
        padding: 0.3rem;
        border-radius: 50%;
        margin-left: 0rem;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: transparent;
        }
        svg {
          width: 16px;
          height: 16px;
        }
      }
      .navbar-sidebar__items {
        .navbar-sidebar__item {
          ul.menu__list {
            > div {
              a {
                font-size: 14px;
                font-weight: 400;
                padding: 0.6rem 0.8rem;
                border-radius: 0.5rem;
                display: block;
                width: 100%;
                color: var(--ifm-color-emphasis-600);
                text-decoration: none;
                &:hover {
                  background-color: transparent;
                  color: var(--ifm-color-primary);
                }
              }
            }
          }
          ul.theme-doc-sidebar-menu {
            li {
              &:not(:first-child) {
                margin-top: 0.25rem;
              }
              .menu__list-item-collapsible {
                &:hover {
                  background-color: transparent;
                }
                > a {
                  color: var(--ifm-color-gray-900);
                  flex-direction: row-reverse;
                  font-weight: 500;
                  justify-content: flex-end;
                  margin-left: -0.25rem;
                  margin-right: -0.25rem;
                  padding: 6px 0;
                  &::after {
                    background-size: 1.4rem 1.4rem;
                    margin-left: 0;
                    margin-right: 0.25rem;
                  }
                }
              }
              ul.menu__list {
                margin-top: 0.25rem;
                padding-left: 0px;
                margin-left: 0.375rem;
                li {
                  margin-bottom: 0;
                  &:not(:first-child) {
                    margin-top: 0.25rem;
                  }

                  .menu__list-item-collapsible {
                    &:hover {
                      background-color: transparent;
                    }
                    a {
                      font-size: 14px;
                      font-weight: 600;
                      color: var(--ifm-color-emphasis-600);
                      border-radius: 0.5rem;
                      padding: 0.4rem 1.5rem 0.4rem 0.5rem;
                      &:hover {
                        background-color: transparent;
                      }
                      &::after {
                        background-size: 18px;
                      }
                    }
                  }

                  .menu__link--active {
                    background-color: transparent;
                  }
                }
              }
              > a.menu__link {
                font-size: 14px;
                font-weight: 400;
                color: var(--ifm-color-gray-600);
                border-radius: 0rem;
                padding: 0.5rem 1.25rem;
                &:hover {
                  background-color: transparent;
                  color: var(--ifm-color-gray-900);
                  font-weight: 500;
                }
                &::after {
                  background-size: 18px;
                }
                &.menu__link--active {
                  color: var(--ifm-color-primary);
                  font-weight: 500 !important;
                }
              }
            }
          }
          .navbar-sidebar__back {
            display: none;
          }
        }
      }
    }
  }
}

html[data-theme='dark'] {
  #__docusaurus {
    nav.navbar {
      background-color: #00000003;
      .navbar__logo img {
        filter: invert(100);
      }
      .navbar__inner {
        .navbar__items--right {
          .navbar__search {
            .navbar__search-input {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23777' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E%0A");
            }
            /* dropdown style */
            span[class*='dropdownMenu'] {
              span[class*='suggestions'] {
                div[class*='suggestion'] {
                  background-color: transparent;
                }
                div[class*='cursor'] {
                  background-color: var(--ifm-menu-color-background-hover);
                }
              }
            }
          }
          .header-github-link {
            filter: invert(100%);
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }
          }
          .navbar__item--dropdown {
            .navbar__link {
              color: var(--ifm-color-gray-400);
              &:hover {
                color: var(--ifm-color-gray-200);
              }
            }
            .navbar__dropdown {
              background: var(--ifm-navbar-background-color);
              border-color: var(--ifm-color-emphasis-300);
              .dropdown__link {
                color: var(--ifm-color-gray-400);
                &:hover {
                  background-color: var(--ifm-color-emphasis-200);
                  color: var(--ifm-color-gray-200);
                }
                &:not(:last-child) {
                  border-bottom-color: var(--ifm-color-emphasis-300);
                }
              }
            }
          }
        }
      }
      .navbar-sidebar {
        .navbar-sidebar__close {
          &:hover {
            border-color: #ffffff3d;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 997px) {
  .navbar__brand {
    margin-right: 2rem;
  }
}
