#__docusaurus {
  div[class*='tocCollapsible_'] {
    @apply bg-transparent border rounded-md mb-6;
    border-color: var(--ifm-color-gray-200);
  }
  button[class*='tocCollapsibleButton_'] {
    @apply text-gray-900 font-medium text-sm capitalize py-2;
  }
  .menu__list-item-collapsible {
    &:hover {
      background-color: transparent;
    }
    .menu__caret:hover {
      background-color: transparent;
    }
  }
  .menu__list-item > .menu__list {
    @apply border-l border-gray-200 ml-1.5;
  }
  .theme-doc-sidebar-container {
    border-left: 0;
    border-top: 0;
    border-width: 2px;
    scrollbar-color: rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0);
    @media screen and (min-width: 997px) {
      --doc-sidebar-width: 270px;
    }
    nav.menu {
      padding: 1.5rem 1.1rem 0rem 1.25rem;
      .menu__link {
        color: var(--ifm-color-gray-600);
      }
      ul {
        /* padding-left: 0.5rem; */
        li {
          margin: 0;
          &:last-of-type {
            margin-bottom: 1rem;
            padding-bottom: 0.125rem;
          }
          a.menu__link {
            font-size: 14px;
            font-weight: 400;
            padding: 0.5rem;
            border-radius: 0rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          a.menu__link--active {
            font-weight: 500 !important;
            background-color: transparent;
            color: var(--ifm-color-gray-900);
            &::before {
              background-color: var(--ifm-menu-color-active);
            }
          }

          .menu__list-item-collapsible {
            border-radius: 0.5rem;
            &:hover {
              background-color: transparent;
            }
            a.menu__link {
              font-weight: 500;
              border-radius: 0.5rem;
              color: var(--ifm-color-gray-900);
              padding: 0.375rem 0rem;
              flex-direction: row-reverse;
              justify-content: flex-end;
              margin: 0 -0.25rem;
              gap: 0;
              &:hover {
                background-color: transparent;
                color: var(--ifm-color-gray-900);
                font-weight: 500;
              }
              &::after {
                background-size: 1.4rem 1.4rem;
                margin-left: 0;
                margin-right: 0.25rem;
              }
              &::before {
                display: none;
                background: none;
              }
            }
          }
          ul.menu__list {
            margin-left: 0.375rem;
            padding-left: 0;
            li {
              border-bottom: none;
              &.menu__list-item:not(:first-child) {
                margin-top: 0.25rem;
              }
              &:last-of-type {
                margin-bottom: 1rem;
                padding-bottom: 0.125rem;
              }
              > .menu__link:hover {
                background-color: transparent;
                color: var(--ifm-color-gray-900);
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .theme-doc-sidebar-menu .menu__list > li > .menu__link {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      position: relative;
    }
  }
  @media screen and (min-width: 997px) {
    nav.navbar {
      @apply px-6;
    }
  }

  @media screen and (max-width: 996px) {
    .theme-layout-navbar-sidebar {
      .theme-layout-navbar-sidebar-panel {
        &:last-child {
          width: 100%;
        }
      }
    }
    .theme-doc-sidebar-menu {
      width: 100%;
      li {
        margin-bottom: 20px;
        ul {
          li {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 485px) {
    .theme-layout-navbar-sidebar {
      .theme-layout-navbar-sidebar-panel {
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

html[data-theme='dark'] .theme-doc-sidebar-container img {
  filter: invert(100);
}

.theme-doc-sidebar-container {
  @apply fixed h-full overflow-y-auto overflow-x-hidden !border-[var(--ifm-color-gray-300)];
  nav.menu {
    @apply pt-6 pl-5 pr-[1.1rem];
  }
}

@media screen and (min-width: 997px) {
  .theme-doc-sidebar-container {
    ~ main {
      @apply ml-[270px] max-w-[calc(100%-270px)];
      > .container .col.col--3 {
        @apply hidden;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .theme-doc-sidebar-container ~ main > .container .col.col--3 {
    @apply block;
  }
}

@media screen and (min-width: 1536px) {
  .theme-doc-sidebar-container ~ main > .container {
    @apply mx-0 max-w-full;
    .col.col--3 {
      @apply w-80 fixed right-0 bg-white;
    }
  }

  html[data-theme='dark']
    .theme-doc-sidebar-container
    ~ main
    > .container
    .col.col--3 {
    @apply bg-transparent;
  }
}
