#__docusaurus {
  ul.table-of-contents {
    padding-top: 1.6rem;
    border-left: none;
    font-size: 14px;
    line-height: 1.25rem;
    &::before {
      color: var(--ifm-color-gray-900);
      content: 'On This Page';
      display: block;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    li {
      margin: 0.25rem 0;
      .table-of-contents__link {
        color: var(--ifm-color-gray-600);
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        &:hover {
          color: var(--ifm-color-gray-600);
        }
        &.table-of-contents__link--active {
          color: var(--ifm-color-gray-900);
          font-weight: 500;
        }
      }
    }
  }
}

html[data-theme='dark'] {
  #__docusaurus {
    ul.table-of-contents {
      li {
        a {
          &:hover {
            color: #ced2d1;
          }
        }
      }
    }
  }
}
