@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* default theme */
  :root {
    /* body style */
    --background: 255 255 255; /* #ffffff */
    --foreground: 72 72 72; /* #484848 */
    --muted: 227 227 227; /* #e3e3e3 */
    --muted-foreground: 146 146 146; /* #929292 */

    /* ----------------------------------- */
    /* gray colors */
    /* ----------------------------------- */
    --gray-50: 250 250 250; /* #fafafa */
    --gray-100: 241 241 241; /* #f1f1f1 */
    --gray-200: 227 227 227; /* #e3e3e3 */
    --gray-300: 223 223 223; /* #dfdfdf */
    --gray-400: 146 146 146; /* #929292 */
    --gray-500: 102 102 102; /* #666666 */
    --gray-600: 72 72 72; /* #484848 */
    --gray-700: 51 51 51; /* #333333 */
    --gray-800: 34 34 34; /* #222222 */
    --gray-900: 17 17 17; /* #111111 */
    --gray-950: 0 0 0; /* #000000 */

    /* ----------------------------------- */
    /* primary/brand colors */
    /* ----------------------------------- */
    --primary-lighter: 227 227 227; /* #e3e3e3 */
    --primary-default: 17 17 17; /* #111111 */
    --primary-dark: 0 0 0; /* #000000 */
    --primary-foreground: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* secondary colors */
    /* ----------------------------------- */
    --secondary-lighter: 221 227 255; /* #dde3ff */
    --secondary-default: 78 54 245; /* #4e36f5 */
    --secondary-dark: 67 42 216; /* #432ad8 */
    --secondary-foreground: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* red/error colors */
    /* ----------------------------------- */
    --red-lighter: 247 212 214; /* #f7d4d6 */
    --red-default: 238 0 0; /* #e00 */
    --red-dark: 197 0 0; /* #c50000 */

    /* ----------------------------------- */
    /* orange/warning colors */
    /* ----------------------------------- */
    --orange-lighter: 255 239 207; /* #ffefcf */
    --orange-default: 245 166 35; /* #f5a623 */
    --orange-dark: 171 87 10; /* #ab570a */

    /* ----------------------------------- */
    /* blue/info colors */
    /* ----------------------------------- */
    --blue-lighter: 211 229 255; /* #d3e5ff */
    --blue-default: 0 112 243; /* #0070f3 */
    --blue-dark: 7 97 209; /* #0761d1 */

    /* ----------------------------------- */
    /* green/success colors */
    /* ----------------------------------- */
    --green-lighter: 185 249 207; /* #b9f9cf */
    --green-default: 17 168 73; /* #11a849 */
    --green-dark: 17 132 60; /* #11843c */
  }

  /* dark theme */
  [data-theme='dark'] {
    --background: 8 9 14; /* #08090e */
    --foreground: 223 223 223; /* #dfdfdf */
    --muted: 51 51 51; /* #333333 */
    --muted-foreground: 102 102 102; /* #666666 */

    /* ----------------------------------- */
    /* gray/natural colors */
    /* ----------------------------------- */
    --gray-50: 17 17 17; /* #111111 */
    --gray-100: 34 34 34; /* #222222 */
    --gray-200: 51 51 51; /* #333333 */
    --gray-300: 72 72 72; /* #484848 */
    --gray-400: 102 102 102; /* #666666 */
    --gray-500: 146 146 146; /* #929292 */
    --gray-600: 223 223 223; /* #dfdfdf */
    --gray-700: 227 227 227; /* #e3e3e3 */
    --gray-800: 241 241 241; /* #f1f1f1 */
    --gray-900: 250 250 250; /* #fafafa */
    --gray-950: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* primary/brand colors */
    /* ----------------------------------- */
    --primary-lighter: 34 34 34; /* #222222 */
    --primary-default: 241 241 241; /* #f1f1f1 */
    --primary-dark: 255 255 255; /* #ffffff */
    --primary-foreground: 0 0 0; /* #000000 */

    /* ----------------------------------- */
    /* secondary colors */
    /* ----------------------------------- */
    --secondary-lighter: 31 22 90; /* #1f165a */
    --secondary-dark: 193 203 255; /* #c1cbff */

    /* ----------------------------------- */
    /* red/error colors */
    /* ----------------------------------- */
    --red-lighter: 80 0 0; /* #500000 */
    --red-dark: 255 193 193; /* #ffc1c1 */

    /* ----------------------------------- */
    /* orange/warning colors */
    /* ----------------------------------- */
    --orange-lighter: 68 29 4; /* #441d04 */
    --orange-dark: 252 234 139; /* #fcea8b */

    /* ----------------------------------- */
    /* blue/info colors */
    /* ----------------------------------- */
    --blue-lighter: 13 51 94; /* #0d335e */
    --blue-dark: 181 233 255; /* #b5e9ff */

    /* ----------------------------------- */
    /* green/success colors */
    /* ----------------------------------- */
    --green-lighter: 3 48 22; /* #033016 */
    --green-dark: 185 249 207; /* #b9f9cf */

    /* here you can customize other colors for dark theme if design required */
  }
}
