@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* default theme */
:root {
  /* body style */
  --background: oklch(100% 0 0); /* #ffffff */
  --foreground: oklch(40.17% 0 0); /* #484848 */
  --muted: oklch(91.58% 0 0); /* #e3e3e3 */
  --muted-foreground: oklch(66% 0 0); /* #929292 */

  /* ----------------------------------- */
  /* gray colors */
  /* ----------------------------------- */
  --gray-50: oklch(98.51% 0 0); /* #fafafa */
  --gray-100: oklch(95.81% 0 0); /* #f1f1f1 */
  --gray-200: oklch(91.58% 0 0); /* #e3e3e3 */
  --gray-300: oklch(90.37% 0 0); /* #dfdfdf */
  --gray-400: oklch(66% 0 0); /* #929292 */
  --gray-500: oklch(51.03% 0 0); /* #666666 */
  --gray-600: oklch(40.17% 0 0); /* #484848 */
  --gray-700: oklch(32.11% 0 0); /* #333333 */
  --gray-800: oklch(25.2% 0 0); /* #222222 */
  --gray-900: oklch(17.76% 0 0); /* #111111 */
  --gray-950: oklch(0% 0 0); /* #000000 */

  /* ----------------------------------- */
  /* primary/brand colors */
  /* ----------------------------------- */
  --primary-lighter: oklch(91.58% 0 0); /* #e3e3e3 */
  --primary: oklch(17.76% 0 0); /* #111111 */
  --primary-dark: oklch(0% 0 0); /* #000000 */
  --primary-foreground: oklch(100% 0 0); /* #ffffff */

  /* ----------------------------------- */
  /* secondary colors */
  /* ----------------------------------- */
  --secondary-lighter: oklch(91.99% 0.0386 276.02); /* #dde3ff */
  --secondary: oklch(50.51% 0.2633 276.95); /* #4e36f5 */
  --secondary-dark: oklch(45.41% 0.2431 277.06); /* #432ad8 */
  --secondary-foreground: oklch(100% 0 0); /* #ffffff */

  /* ----------------------------------- */
  /* red/error colors */
  /* ----------------------------------- */
  --red-lighter: oklch(89.99% 0.0393 14); /* #f7d4d6 */
  --red: oklch(59.6% 0.2445 29.23); /* #e00 */
  --red-dark: oklch(51.71% 0.2121 29.2338); /* #c50000 */

  /* ----------------------------------- */
  /* orange/warning colors */
  /* ----------------------------------- */
  --orange-lighter: oklch(95.67% 0.0452 84.5695); /* #ffefcf */
  --orange: oklch(78.37% 0.1587 72.99); /* #f5a623 */
  --orange-dark: oklch(54.83% 0.1339 53.95); /* #ab570a */

  /* ----------------------------------- */
  /* blue/info colors */
  /* ----------------------------------- */
  --blue-lighter: oklch(91.66% 0.0404 257.5078); /* #d3e5ff */
  --blue: oklch(57.31% 0.2144 258.25); /* #0070f3 */
  --blue-dark: oklch(51.58% 0.1888 258.27); /* #0761d1 */

  /* ----------------------------------- */
  /* green/success colors */
  /* ----------------------------------- */
  --green-lighter: oklch(92.79% 0.086 155.61); /* #b9f9cf */
  --green: oklch(64.01% 0.1776 148.74); /* #11a849 */
  --green-dark: oklch(53.79% 0.1441 149.52); /* #11843c */
}

/* dark theme */
[data-theme='dark'] {
  /* body style */
  --background: oklch(14.11% 0.0112 275.23); /* #08090e */
  --foreground: oklch(90.37% 0 0); /* #dfdfdf */
  --muted: oklch(32.11% 0 0); /* #333333 */
  --muted-foreground: oklch(51.03% 0 0); /* #666666 */

  /* ----------------------------------- */
  /* gray/natural colors */
  /* ----------------------------------- */
  --gray-50: oklch(17.76% 0 0); /* #111111 */
  --gray-100: oklch(25.2% 0 0); /* #222222 */
  --gray-200: oklch(32.11% 0 0); /* #333333 */
  --gray-300: oklch(40.17% 0 0); /* #484848 */
  --gray-400: oklch(51.03% 0 0); /* #666666 */
  --gray-500: oklch(66% 0 0); /* #929292 */
  --gray-600: oklch(90.37% 0 0); /* #dfdfdf */
  --gray-700: oklch(91.58% 0 0); /* #e3e3e3 */
  --gray-800: oklch(95.81% 0 0); /* #f1f1f1 */
  --gray-900: oklch(98.51% 0 0); /* #fafafa */
  --gray-950: oklch(100% 0 0); /* #ffffff */

  /* ----------------------------------- */
  /* primary/brand colors */
  /* ----------------------------------- */
  --primary-lighter: oklch(25.2% 0 0); /* #222222 */
  --primary: oklch(95.81% 0 0); /* #f1f1f1 */
  --primary-dark: oklch(100% 0 0); /* #ffffff */
  --primary-foreground: oklch(0% 0 0); /* #000000 */

  /* ----------------------------------- */
  /* secondary colors */
  /* ----------------------------------- */
  --secondary-lighter: oklch(26.35% 0.1154 280.96); /* #1f165a */
  --secondary-dark: oklch(85.2% 0.0733 276.238); /* #c1cbff */

  /* ----------------------------------- */
  /* red/error colors */
  /* ----------------------------------- */
  --red-lighter: oklch(27.08% 0.1111 29.23); /* #500000 */
  --red-dark: oklch(86.69% 0.0714 18.6304); /* #ffc1c1 */

  /* ----------------------------------- */
  /* orange/warning colors */
  /* ----------------------------------- */
  --orange-lighter: oklch(28.29% 0.0698 49.34); /* #441d04 */
  --orange-dark: oklch(93.15% 0.1175 98.83); /* #fcea8b */

  /* ----------------------------------- */
  /* blue/info colors */
  /* ----------------------------------- */
  --blue-lighter: oklch(32.05% 0.0873 254.4); /* #0d335e */
  --blue-dark: oklch(90.53% 0.0611 225.72); /* #b5e9ff */

  /* ----------------------------------- */
  /* green/success colors */
  /* ----------------------------------- */
  --green-lighter: oklch(27.23% 0.0672 152.71); /* #033016 */
  --green-dark: oklch(92.79% 0.086 155.61); /* #b9f9cf */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-red-lighter: var(--red-lighter);
  --color-red: var(--red);
  --color-red-dark: var(--red-dark);
  --color-orange-lighter: var(--orange-lighter);
  --color-orange: var(--orange);
  --color-orange-dark: var(--orange-dark);
  --color-blue-lighter: var(--blue-lighter);
  --color-blue: var(--blue);
  --color-blue-dark: var(--blue-dark);
  --color-green-lighter: var(--green-lighter);
  --color-green: var(--green);
  --color-green-dark: var(--green-dark);
}

@plugin "@tailwindcss/forms";
