@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* default theme */
  :root {
    /* body style */
    --background: 255 255 255; /* #ffffff */
    --foreground: 72 72 72; /* #484848 */

    /* ----------------------------------- */
    /* gray colors */
    /* ----------------------------------- */
    --gray-50: 255 255 255; /* #ffffff */
    --gray-50: 250 250 250; /* #fafafa */
    --gray-100: 241 241 241; /* #f1f1f1 */
    --gray-200: 227 227 227; /* #e3e3e3 */
    --gray-300: 223 223 223; /* #dfdfdf */
    --gray-400: 146 146 146; /* #929292 */
    --gray-500: 102 102 102; /* #666666 */
    --gray-600: 72 72 72; /* #484848 */
    --gray-700: 51 51 51; /* #333333 */
    --gray-800: 34 34 34; /* #222222 */
    --gray-900: 17 17 17; /* #111111 */
    --gray-950: 0 0 0; /* #000000 */

    /* ----------------------------------- */
    /* primary/brand colors */
    /* ----------------------------------- */
    --primary-lighter: 227 227 227; /* #e3e3e3 */
    --primary-default: 34 34 34; /* #222222 */
    --primary-dark: 0 0 0; /* #000000 */
    --primary-foreground: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* secondary colors */
    /* ----------------------------------- */
    --secondary-lighter: 221 227 255; /* #dde3ff */
    --secondary-default: 78 54 245; /* #4e36f5 */
    --secondary-dark: 67 42 216; /* #432ad8 */
    --secondary-foreground: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* red/error colors */
    /* ----------------------------------- */
    --red-lighter: 247 212 214; /* #f7d4d6 */
    --red-default: 238 0 0; /* #e00 */
    --red-dark: 197 0 0; /* #c50000 */

    /* ----------------------------------- */
    /* orange/warning colors */
    /* ----------------------------------- */
    --orange-lighter: 255 239 207; /* #ffefcf */
    --orange-default: 245 166 35; /* #f5a623 */
    --orange-dark: 171 87 10; /* #ab570a */

    /* ----------------------------------- */
    /* blue/info colors */
    /* ----------------------------------- */
    --blue-lighter: 211 229 255; /* #d3e5ff */
    --blue-default: 0 112 243; /* #0070f3 */
    --blue-dark: 7 97 209; /* #0761d1 */

    /* ----------------------------------- */
    /* green/success colors */
    /* ----------------------------------- */
    --green-lighter: 185 249 207; /* #b9f9cf */
    --green-default: 17 168 73; /* #11a849 */
    --green-dark: 17 132 60; /* #11843c */
  }

  /* dark theme */
  [data-theme='dark'] {
    --background: 8 9 14; /* #08090e */
    --foreground: 223 223 223; /* #dfdfdf */

    /* ----------------------------------- */
    /* gray/natural colors */
    /* ----------------------------------- */
    --gray-50: 0 0 0; /* #000000 */
    --gray-50: 17 17 17; /* #111111 */
    --gray-100: 34 34 34; /* #222222 */
    --gray-200: 51 51 51; /* #333333 */
    --gray-300: 72 72 72; /* #484848 */
    --gray-400: 102 102 102; /* #666666 */
    --gray-500: 146 146 146; /* #929292 */
    --gray-600: 223 223 223; /* #dfdfdf */
    --gray-700: 227 227 227; /* #e3e3e3 */
    --gray-800: 241 241 241; /* #f1f1f1 */
    --gray-900: 250 250 250; /* #fafafa */
    --gray-950: 255 255 255; /* #ffffff */

    /* ----------------------------------- */
    /* primary/brand colors */
    /* ----------------------------------- */
    --primary-lighter: 34 34 34; /* #222222 */
    --primary-default: 241 241 241; /* #f1f1f1 */
    --primary-dark: 255 255 255; /* #ffffff */
    --primary-foreground: 0 0 0; /* #000000 */

    /* here you can customize other colors for dark theme if design required */
  }
}

@layer components {
  /* ?React Datepicker Styling */

  /* month container */
  .react-datepicker .react-datepicker__month-container {
    @apply px-3;
  }

  /* time container */
  .react-datepicker .react-datepicker__time-container {
    @apply border-l-0 w-auto pr-3.5;
  }

  /* header */
  .react-datepicker .react-datepicker__header {
    @apply bg-gray-50 border-b-gray-50;
  }

  /* current month name in header */
  .react-datepicker .react-datepicker__current-month {
    @apply mb-3 font-medium text-base;
  }

  /* sun-sat day names in header */
  .react-datepicker .react-datepicker__day-names div {
    @apply text-gray-400 text-sm m-1.5;
  }

  /* previous month button */
  .react-datepicker .react-datepicker__navigation--previous {
    @apply ml-6 rtl:mr-6;
  }

  /* next month button */
  .react-datepicker .react-datepicker__navigation--next {
    @apply mr-6 rtl:ml-6;
  }

  /* icon in previous month button */
  .react-datepicker .react-datepicker__navigation-icon--previous {
    @apply right-0.5;
  }

  /* icon in next month button */
  .react-datepicker .react-datepicker__navigation-icon--next {
    @apply left-0.5;
  }

  /* each day */
  .react-datepicker .react-datepicker__day {
    @apply m-1.5 text-sm leading-7 text-gray-600;
    @apply hover:rounded-full hover:bg-gray-100 hover:text-gray-600;
  }

  /* outside month */
  .react-datepicker .react-datepicker__day--outside-month {
    @apply text-gray-400;
  }

  /* keyboard selected */
  .react-datepicker .react-datepicker__day--keyboard-selected {
    @apply bg-gray-50;
  }

  /* today */
  .react-datepicker .react-datepicker__day--today {
    @apply border border-gray-300 rounded-full bg-gray-50 leading-[26px] text-gray-900;
    @apply hover:border-gray-600 hover:bg-gray-50;
  }

  /* while selecting */
  .react-datepicker div.react-datepicker__day--in-selecting-range {
    @apply bg-gray-100 text-gray-600 rounded-full;
  }

  /* in range */
  .react-datepicker .react-datepicker__day--in-range {
    @apply bg-gray-200 text-gray-600 rounded-full;
  }

  /* selected */
  .react-datepicker .react-datepicker__day--range-start,
  .react-datepicker .react-datepicker__day--range-end,
  .react-datepicker .react-datepicker__day--selected {
    @apply bg-gray-900 text-gray-50 rounded-full border-none leading-7 font-normal;
    @apply hover:bg-gray-900/80 hover:text-gray-50;
  }

  /* time list */
  .react-datepicker .react-datepicker__time-list {
    @apply !h-[247px];
  }

  /* time item */
  .react-datepicker .react-datepicker__time-list-item {
    @apply text-gray-400 text-sm rounded my-2;
    @apply hover:bg-gray-100 hover:text-gray-900;
  }

  /* selected time item */
  .react-datepicker .react-datepicker__time-list-item--selected {
    @apply !bg-gray-100 !text-gray-900 !font-medium;
  }

  /* time only box */
  .react-datepicker--time-only
    .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    @apply w-auto;
  }

  /* time only item */
  .react-datepicker--time-only .react-datepicker__time-list-item {
    @apply rounded-none;
  }

  /* month picker text */
  .react-datepicker .react-datepicker__month-text {
    @apply w-0 py-1.5 px-5;
  }

  /* keyboard selected month in month picker */
  .react-datepicker .react-datepicker__month-text--keyboard-selected {
    @apply bg-gray-100 text-gray-900;
  }

  /* month in range */
  .react-datepicker .react-datepicker__month--in-range {
    @apply bg-gray-200 text-gray-600;
  }

  /* hover on selected months in range */
  .react-datepicker
    .react-datepicker__month-text.react-datepicker__month--in-range:hover {
    @apply bg-gray-100 text-gray-600;
  }

  /* selected month in range */
  .react-datepicker .react-datepicker__month--range-start,
  .react-datepicker .react-datepicker__month--range-end,
  .react-datepicker .react-datepicker__month--selected {
    @apply bg-gray-900 text-gray-50 font-normal;
  }

  /* hover on selected range start and end month */
  .react-datepicker
    .react-datepicker__month-text.react-datepicker__month--selected:hover,
  .react-datepicker
    .react-datepicker__month-text.react-datepicker__month--range-start:hover,
  .react-datepicker
    .react-datepicker__month-text.react-datepicker__month--range-end:hover {
    @apply bg-gray-900/80 text-gray-50;
  }

  /* year wrapper in year picker */
  .react-datepicker .react-datepicker__year-wrapper {
    @apply inline-block max-w-[220px];
  }

  /* year text in year picker */
  .react-datepicker .react-datepicker__year-text {
    @apply py-1.5 px-5 w-auto;
  }

  /* keyboard selected year in year picker */
  .react-datepicker .react-datepicker__year-text--keyboard-selected {
    @apply bg-gray-100 text-gray-900;
    @apply hover:bg-gray-100 hover:text-gray-900;
  }

  /* selected year in year picker */
  .react-datepicker
    .react-datepicker__year-text.react-datepicker__year-text--selected {
    @apply bg-gray-900 text-gray-50;
    @apply hover:bg-gray-900/80 hover:text-gray-50;
  }

  /* year and month dropdown arrow */
  .react-datepicker .react-datepicker__year-read-view--down-arrow,
  .react-datepicker .react-datepicker__month-read-view--down-arrow {
    @apply border-t-[1.5px] border-r-[1.5px] border-gray-400 h-[7px] w-[7px] top-[5px];
  }

  /* sub-header containing year and month dropdown */
  .react-datepicker
    .react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown
    ~ .react-datepicker__header__dropdown {
    @apply grid grid-cols-2 my-2 text-sm divide-x divide-gray-300;
  }

  /* month and year dropdown button in sub-header */
  .react-datepicker .react-datepicker__month-dropdown-container--scroll,
  .react-datepicker .react-datepicker__year-dropdown-container--scroll {
    @apply inline-flex justify-center;
  }

  /* month and year dropdown */
  .react-datepicker .react-datepicker__year-dropdown,
  .react-datepicker .react-datepicker__month-dropdown {
    @apply bg-gray-50 border border-gray-100 shadow-md w-2/5 top-auto;
  }

  /* year dropdown */
  .react-datepicker .react-datepicker__year-dropdown {
    @apply h-80;
  }

  /* month dropdown */
  .react-datepicker .react-datepicker__month-dropdown {
    @apply py-3;
  }

  /* month and year option */
  .react-datepicker .react-datepicker__month-option,
  .react-datepicker .react-datepicker__year-option {
    @apply text-sm my-1 py-1 text-gray-400;
    @apply hover:text-gray-900 hover:bg-gray-100;
  }

  /* first and last type of month and year option */
  .react-datepicker .react-datepicker__month-option:first-of-type,
  .react-datepicker .react-datepicker__month-option:last-of-type,
  .react-datepicker .react-datepicker__year-option:first-of-type,
  .react-datepicker .react-datepicker__year-option:last-of-type {
    @apply rounded-none;
  }

  /* selected month and year in dropdown */
  .react-datepicker .react-datepicker__month-option--selected_month,
  .react-datepicker .react-datepicker__year-option--selected_year {
    @apply bg-gray-100 text-gray-950;
    @apply [&>span]:hidden;
  }
}
